@font-face {
  font-family: 'Comic Kings';
  src: url('/fonts/Comic_Kings.ttf') format('truetype');  
  font-weight: normal;
  font-style: normal;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

header {
z-index: 1;
color: white;
font-family: 'Comic Kings';
font-size: 40px;

}

canvas {
  position: absolute;
  z-index: 0;
}
